html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #78a4af;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #78a4af;
    padding: 10px 20px 0px;
}


.header {
    background-color:  #4a7c87;
    min-height: 150px;
}

.header h1 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: #eceff6;
    position: relative;
}

.header img {
    padding: 0px 0px 10px 0px;
}


.content {
    background-color: #f3f4f8;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color:  #4a7c87;
    min-height: 150px;
    padding-top: 10px;
}

.footer1{
    list-style-type: none;
    justify-content: right;
    padding-right: 40px;
}

.footer1 h3 {
    padding-right: 65px;
}

.socialmedia {
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 1rem 0 3rem 0;  
}

.socialmedia li{
    margin: 0 10px; 
}

.footer1 {
    list-style-type: none;
    text-align: right;
    justify-content: right;
}

.footer1 h3{
    font-size: 20px;
    text-transform: capitalize; 
    text-align: right;
}

.footer2{
    text-align: center;
    color: #eceff6;
    background-color: #114b4f;
}

.texto1 {
    background: #bfcdd6;
    width: 40%;
    height: auto;
    display: flex;
    text-indent: 30px;
    text-align: justify;
    word-spacing: -.3ch;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: larger;
    word-break: break-word;
}

.texto2 {
    background: #bfcdd6;
    width: 40%;
    height: auto;
    display: flex;
    text-indent: 30px;
    text-align: justify;
    word-spacing: -.3ch;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    font-size: larger;
    word-break: break-word;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li{
    border-bottom: 1px solid #bfcdd6;
}

.menu ul li a {
    color: #FFF;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li a:hover {
    background-color: #bfcdd6;
    color: #114b4f;
}

.logo {
    image-resolution: 20px;
}

.especialidades {
    background-color: rgb(194, 204, 207);
    border-radius: 20px;
    width: 40%;
    padding: 5px;
}

.especialidades h2 {
    padding: 0px 0px 0px 20px;
}

.servicos {
    background-color: rgb(194, 204, 207);
    border-radius: 20px;
    width: 40%;
    padding: 5px;
    margin-bottom: 10px;
} 

.servicos h2 {
    padding: 0px 0px 0px 20px;
}


.table, th, td {
    border: 1px solid black;
 }

.table, th {
    background: #E7E9EB;
    padding:10px;
}

.table, td {
    padding: 5px;
}

.table, tr:hover {background-color: #E7E9EB;}
 